html
    head
        title Résultat
        link(rel="stylesheet", href="/css/choice.css")
        link(href="./index.js")
    body
        main
          center
            h1(class="result") #{result}
            br
            br
            img(class="left-image" src="img/" + choice + ".png")
            img(class="vs" src="img/vs.png")
            img(class="right-image" src="img/" + computer + ".png")
            br
            br
            br
            a(class="try" href="homepage") Rejouer
