html
    head
        title Résultat
        link(rel="stylesheet", href="/css/choice.css")
        link(href="./index.js")
    body
        main
          center
            h1(id='result')
            img(src="img/" + choice + ".png")
            br
            a(class="try" href="homepage") Rejouer
