html
    head
        title Shifumi
        link(rel="stylesheet", href="/css/homepage.css")
        link(href="./index.js")
    body
        main
          
          center
            div
              h1(class="main-title") Shi ... fu ... mi !
          center
            h1(class="choice-title") Faites votre choix : 
            a(href="rock")
              img(class="image" src="img/rock.png")
            a(href="paper")
              img(class="image" src="img/paper.png") 
            a(href="scissors")
              img(class="image" src="img/scissors.png") 
