html
    head
        title Shifumi
        link(rel="stylesheet", href="/css/homepage.css")
        link(href="./index.js")
    body
        main
          center
            h1(class="choice-title") Faites votre choix : 
            a(id="userChoice" href="rock")
              img(src="img/rock.png")
            a(id="userChoice" href="paper")
              img(src="img/paper.png") 
            a(id="userChoice" href="scissors")
              img(src="img/scissors.png") 
