body {
  background-color: yellow;
  font-family: Montserrat;
}

.result {
  font-size: 50px;
}

.try {
  font-size: 40px;
  text-decoration: none;
}

.try:hover {
  text-decoration: underline orange;
}
